body {
    margin:0;
    background: linear-gradient(to right,  rgb(177, 166, 17),rgb(178, 178, 22));
}

*,*::before,*::after {
    box-sizing: border-box;
}

.title {
    font-family: 'Playfair Display', 'serif';
    font-weight: bold;
}

